# Mac
.DS_Store

# IDE-related
.vscode

# Python
__pycache__
*.pyc

# habiter
records.json
records.db

# Vitrual environment
env/

# Distribution
build/
dist/
*.egg
*.eggs
*.egg-info/
MANIFEST

# Designs
*.drawio
